@tailwind base;
@tailwind components;
@tailwind utilities;



body {
 
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./sunset-1626515_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
